/* Global variable */

:root {
  /* Color */
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #ff6600;
  --color-grey: #f7f7f7;
  --color-btn-hover: #ff8533;
  --color-font: #161c2db3;

  /* Height */
  --header-height: 35rem;
  --header-navbar-height: 10.8rem;
  --header-contact-height: calc(
    var(--header-height) - var(--header-navbar-height)
  );
  --header-email-height: 43.4rem;
  --header-email-top: 6.8rem;
  --header-email-body: calc(
    var(--header-email-height) - var(--header-email-top) - 3.2rem
  );
}

/* Setting all */

* {
  outline: none;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

.app {
  overflow: hidden;
  background-color: #f7f7f7;
}

/* Setting html */

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
  line-height: 1.6rem;
  font-family: "Quicksand", sans-serif;
}

/* Content section */
.section-content {
  padding: 10rem 0;
}

.section-content .section-heading {
  text-align: center;
}

.section-heading p.title-heading {
  --font-height: 2rem;
  font-size: var(--font-height);
  line-height: calc(var(--font-height) + 1rem);
  display: block;
  letter-spacing: 0.1rem;
  color: var(--color-primary);
  font-family: "Pacifico", cursive;
}

.section-heading p.capitalize {
  text-transform: capitalize;
}

.section-heading p.title-des {
  --font-height: 1.8rem;
  font-size: var(--font-height);
  line-height: calc(var(--font-height) + 1rem);
  font-weight: 300;
}

.section-content-fw .section-heading h2,
.section-heading h2 {
  --font-height: 3.8rem;
  font-size: var(--font-height);
  line-height: calc(var(--font-height) + 1rem);
  text-transform: capitalize;
  font-weight: 600;
}

/* section-content sm */
.section-content-fw {
  padding-bottom: 4.8rem;
}

.section-content-fw .section-heading {
  text-align: left;
}

.section-content-fw .section-heading p.title-heading {
  --font-height: 2rem;
  font-size: var(--font-height);
  line-height: calc(var(--font-height) + 1rem);
  letter-spacing: 0.1rem;
  color: var(--color-primary);
  font-family: "Pacifico", cursive;
  text-transform: capitalize;
}

.container-email {
  width: 65rem;
  margin: 0 auto;
}

.section-content-email {
  padding: 4.8rem 3.2rem;
}

.section-content-email .section-heading-email {
  text-align: center;
}

.section-heading-email h2 {
  text-transform: capitalize;
  font-size: 3.2rem;
  font-weight: 600;
}
