.app.app-contact {
  background-color: var(--color-white);
}

/* Contact */

.contact__col input,
.contact__col textarea {
  width: 100%;
  padding: 0 1.6rem;
  font-size: 1.6rem;
  border: thin solid #dbdbdb;
  background-color: var(--color-grey);
  border-radius: 0.6rem;
  transition: all 0.2s;
}

.contact__col input {
  height: 6rem;
}

.contact__col input:focus,
.contact__col textarea:focus {
  background-color: var(--color-white);
  border-color: var(--color-primary);
}

.contact__col textarea {
  resize: none;
}

/* Address */

.address__list li {
  gap: 1.6rem;
}

.address__list li .address__list-left i {
  font-size: 1.6rem;
  color: var(--color-primary);
  margin-top: 0.6rem;
}

.address__list li .address__list-right h4 {
  --font-height: 1.8rem;
  font-size: var(--font-height);
  line-height: calc(var(--font-height) + 0.6rem);
  font-weight: 500;
  margin: 0;
}

.address__list li:not(li:last-child) {
  margin-bottom: 3rem;
}

.address__list li .address__list-right p,
.address__list li .address__list-right a {
  color: var(--color-font);
  font-size: 1.46rem;
  font-weight: 400;
}

.address__list li .address__list-right a:hover {
  text-decoration: underline;
}
