/* For all mobile and tablet */

@media only screen and (max-width: 1023px) {
  .hide-on-mobile-tablet {
    display: none !important;
  }
}

/* For mobile only */

@media only screen and (max-width: 739px) {
  .hide-on-mobile {
    display: none !important;
  }

  /* Section */
  .section-heading-email h2 {
    font-size: 2.4rem;
  }

  /* Container email */
  .container-email {
    width: 100%;
  }

  /* Header */
  .header__content-body.section-content-email {
    padding: 1.6rem 0;
  }

  /* Introduce */
  .introduce__item h2 {
    --font-height: 2.4rem;
  }

  /* Order */
  .order__content-info {
    align-items: flex-start;
    text-align: left;
  }

  .order__content-info > h2 {
    --font-height: 2.6rem;
  }

  .order__content-info > p {
    margin: 3rem 0;
  }

  /* Article */
  .article__info {
    align-items: flex-start;
  }

  .article__info > h2 {
    --font-height: 2.6rem;
  }

  .article__info > p {
    text-align: left;
  }
}

/* For tablet only */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none !important;
  }
}
