.header {
  max-height: var(--header-height);
  background-image: linear-gradient(
      to right,
      rgb(236 98 6 / 98%),
      rgb(5 3 0 / 83%)
    ),
    url(../img/banner2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header__navbar {
  height: var(--header-navbar-height);
  position: relative;
}

.header__contact {
  height: var(--header-contact-height);
}

.header__contact p {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0;
  color: var(--color-white);
  text-transform: capitalize;
}

.header__contact p a {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 1.8rem;
}

.header__contact p i {
  font-size: 1.4rem;
}

.header__navbar .navbar-brand {
  font-size: 3.6rem;
  font-weight: 700;
  text-transform: capitalize;
}

.header__navbar-bar {
  gap: 2rem;
}

.header__navbar-search {
  height: 4.6rem;
  width: 24rem;
  background-color: var(--color-white);
  border-radius: 1rem;
  overflow: hidden;
  padding: 0 1rem;
}

.header__navbar-search form,
.header__navbar-search form input {
  height: 100%;
  width: 100%;
}

.header__navbar-search form input {
  border-radius: 1rem;
  border: none;
  padding: 0 0.6rem;
  font-size: 1.6rem;
}

.header__navbar-search form button {
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
}

.header__navbar-nav i,
.header__mode-control i {
  font-size: 2.4rem;
}

.header__mode-control i {
  transform: rotate(-20deg);
}

.header__navbar-nav i {
  cursor: pointer;
}

.header__navbar .header__navbar-collapse {
  justify-content: flex-end;
  gap: 1rem;
  flex-basis: 0;
}

.header__nav .nav-link {
  font-size: 1.6rem;
  color: var(--color-white);
}

.header__nav .nav-link:hover {
  color: var(--color-primary);
}

.header__nav .nav-link.active {
  color: var(--color-primary);
}

.header__navbar .navbar-toggler {
  color: var(--color-white);
  font-size: 2rem;
  margin-left: 2rem;
}

.header__navbar-more {
  flex: 3;
  justify-content: flex-end;
  gap: 2rem;
  margin-right: 1rem;
}
