/* For all mobile and tablet */

@media only screen and (max-width: 1023px) {
  .hide-on-mobile-tablet {
    display: none !important;
  }

  .stats {
    margin-top: 2rem;
  }
}

/* For mobile only */

@media only screen and (max-width: 739px) {
  .hide-on-mobile {
    display: none !important;
  }

  /* Banner */
  .banner {
    height: 43rem;
  }

  .banner__info {
    padding: 12rem 0 4rem;
  }

  .banner__info h2 {
    --font-height: 3.2rem;
  }

  /* Info */
  .info .info__item-right {
    padding: 4.6rem 2.8rem;
  }

  /* News */

  .news__info {
    padding: 1.4rem 2.4rem !important;
  }

  .news__info a h4 {
    --font-height: 1.8rem;
  }

  .news__info h6 {
    margin-top: 0.6rem !important;
  }

  .testimonials__item {
    width: 100%;
  }

  .middle__top {
    width: 100%;
  }

  .middle__top h2 {
    --font-height: 3.4rem;
  }

  .button.button-transparent.button__banner {
    width: 15rem;
  }

  .button {
    font-size: 1.48rem;
  }

  .button.button-submit.button-primary {
    width: 15rem;
  }
}

/* For tablet only */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none !important;
  }

  .middle__top h2 {
    --font-height: 4.2rem;
    font-weight: 500;
  }

  .middle__buttons {
    margin-top: 4rem;
  }
}
